@import url(./geometria/Geometria.ttf);
@import url(./geometria/Geometria-Italic.ttf);

body{
    font-family: "Roboto", serif;
  font-weight: 400;
}
/* *{
    outline: 2px solid red;
} */
.mainSection{
    background-image: url(./photo/main.png);
    background-repeat: no-repeat;
    background-size: cover;
   height: 802px;

}
.mainHeader{
    /* width: 1280px; */
}
.containerBody{
    width: 1280px;
}

.mainWrapper{
    /* width: 1280px; */
    height: 100px;
    border: 1px;
   background-color: #FFFFFFB2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.mainLogo{
    padding-left: 60px;
    padding-right: 92px;
}
.navItem{
    color: #000000;
    text-decoration: none;
    font-weight:400 ;
    font-size: 16px;
    margin-right: 30px;
}
.button_order{
    padding-right: 60px;
}
.order{
    text-decoration: none;
    color: #000000;
    border: 1px solid #EFA35A;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-right: 30px;
    background-color:#FFFFFF00;
   
}
.callPhone{
    display: flex;
    align-items: center;
    height: 30px;
}
.num{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
}
.phone{
    padding-right: 7.44px;
}
.position{
    position:absolute;
    top: 557px;
    left: 60px;
    bottom: 60px;
    color: #FFFFFF;
  
}
.positionTitle{
    font-size: 24px;
    font-weight: 400;
   
}
.positionSubtitle{
   display: flex;
}
.wordIq{
    font-family: geo; 
     font-weight: 800;
    font-size: 120px;
    line-height: 151px;
    color: #EFA35A;
    margin-right: 10px;

}
.wordClub{
    
    font-weight: 800;
    font-size: 120px;
    line-height: 151px;
    color: #FFFFFF;

}


/*uje 2 section*/




.sectionTWO{
    margin-left: 80px;
}
h2{
    font-size: 46px;
    color: #EFA359;
    text-transform: uppercase;
}
.secondWhapper{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.rightSection{
    margin-left: 42px;
   
}
.rightSection div p {
    font-family: "Roboto", serif;
    font-size: 25px;
    line-height: 30px;
    width: 547px;
    margin-bottom: 40px;
    
}
.container{
    display: flex;
    align-items: center;
}
.container img{
    margin-right: 40px;
    width: 45px;
    height: 45px;
}
.container p{
    font-size: 24px;
    font-family: "Roboto", serif;
}



/*uje 3 section*/


.sectionTHE{
    padding: 10px 80px;
}
.lineText{
    display: flex;
    justify-content: space-between;
   margin-left: 60px;
    margin-bottom: 40px;
    margin-top: 140px;
}

/* .lineorange{
    border-top:1px solid #FF7E00 ;
    width: 300px;
    height: 1px;
} */

.blackText{
    font-weight: 500;
    font-size: 46px;
    line-height: 58px;
    color: #000000;
    margin-right: 10px;
    text-transform: uppercase;
}
.orangeText{
    font-weight: 400;
    font-size: 46px;
    line-height: 58px;
    color: #EFA359;
    text-transform: uppercase;
}
.lineText ::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 632px;
    background-color: #EFA35A;
    top: 1698px;
    left: 534px;
    border: 1px;
    
}
/* .lineText::after{
    position: absolute;
    content: "";
    height: 2px;
    background-color: #EFA35A;
    width: 63px;
    top: 1700px;
    left: 1220px;
    border: 3px;
}    */
/* .numberONE{
position: absolute;
width: 33px;
height: 33px;
top: 2637px;
left: 935x;

} */
.photoMap{
    background-image: url(./photo/Указатели\ \(1\).png);
    /* width: 1157px; */
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
}


/* uje 4 section*/


.sectionFour{
  padding: 10px 80px;
}
.miniCont{
    display: flex;
    gap: 103px;
}
.miniText{
    font-family: "Roboto", serif;
    font-size: 24px;
    font-weight: 400;

}
.cardContainer{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.card{
    border: 1px solid #EFA35A;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
  

}
.number{
    background-color: #FF7E00;
    color: white;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.title{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.time{
    font-size: 18px;
    font-weight: 800;
}
.icon{
    font-size: 14px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
}


/*5 section*/

.splideGaller{
    padding: 10px 80px;
}

.GalleryPhoto{
    padding: 20px 20px;
    border-radius: 12px;  
    display: flex;
     /* flex-direction: column; */
     justify-content: space-between; 
       
}




/*6 section*/
.sectionSix{
    padding: 10px 80px;
}
.layout-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.highlight {
    color: #f4a742;
}
.layoutContainer{
    /* display: flex; */
}
.description  {
    font-size: 30px;
    width: 511px;

}
.description ul{
    list-style: none;
    padding: 0;
}
.description ul li {
    margin-bottom: 10px;
}
.description ul li::before{
    content: '\2713';
    color: #f4a742;
    margin-right: 10px;
}
.features {
    margin-top: 20px;
    font-size: 27px;
    font-weight: 700;
    color: #333;
    width: 442px;
}

.features ul {
    list-style: none;
    padding: 0;
}

.features ul li {
    font-size: 27px;
    margin-bottom: 10px;
}

.features ul li:before {
    content: '\2713';
    color: #f4a742;
    margin-right: 10px;
}
.house{
    display: flex;
    gap: 0px;
    margin-top: 20px;
}
.house img {
    width: 332px;
   
}
.floor-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.floor {
    background-color: #f4a742;
    color: white;
    padding: 17px 40px;
    
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.floor.secondary {
    background-color: white;
    color: #333;
    border: 2px solid #EFA35A;
}


/*7section*/
.sectionSeven{
    padding: 0px 80px;
}

.availableHouse{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.leftHouse{
    display: block;   
}
.houseName{
    font-size: 20px;
    font-weight: 700;
}
.cost{
    font-size: 20px;
    font-weight: 400;
}
.costPrice{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
.priceInfo{
    display: flex;
    justify-content: space-between;
}
.btn{
    display: inline-block;
    background-color: #f4a742;
    color: white;
    text-align: center;
    padding: 20px 32px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    margin-top: 28px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #e89630;
}


/*section 8*/

.sectionEight{
    background-image: url(./photo/section8.png);
    height: 436px;
    margin-top: 130px;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}



.content {
   
    padding: 40px;
    border-radius: 10px;
    max-width: 840px;
}

h1 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 15px;
}

h1 span {
    color: orange;
}

.availability {
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 40px;
}

.availability span {
    color: orange;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

button {
    padding: 23px 30px;
    font-size: 22px;
 
    cursor: pointer;
}

.contact-manager {
    background-color: orange;
    color: white;
}

.leave-application {
    background-color: white;
    color: black;
}

/*section9*/
.sectionNine{
    padding: 10px 80px;
}
.homeName{
    font-size: 30px;
    font-weight: 500;
}
.forSale{
    font-size: 20px;
    font-weight: 400;
    color: #EFA35A;
}
.wayToHome::before{
    content: '\1F4CD';
}
/*10 section*/
.sectionTen{
    padding: 10px 80px;
}
.mainMap{
    background-image: url(./photo/section10.png);
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h4{
    font-size: 40px;
    font-weight: 400;
}
.contactText{
    position: absolute;
    top: 60px;
    max-width: 522px;
    height: 594px;
    text-align: center;
   
    background-color: #FFFFFF;
    margin-left: 30px;
}
.contactText p{
    font-size: 23px;
    line-height: 27px;
}
.address{
    display: flex;
    justify-content: center;
}
.address img {
    width: 27px;
    height: 34px;
    margin-top: 20px;
    margin-right: 18px;
}
.address p{
    font-size: 30px;
    line-height: 35px;
} 
.contactTime{
    display: flex;
    justify-content: center;
}
.contactTime img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 18px;
}
.contactTime p{
    font-size: 30px;
    line-height: 35px;
}

.telephoneNumber{
    display: flex;
    justify-content: center;
}
.telephoneNumber img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-right: 18px;
}
.telephoneNumber p{
    font-size: 30px;
    line-height: 35px;

}
.contactMap{
    background-color: #EFA359;
    color: #FFFFFF;
    padding: 15px 30px;
}

/*footer*/

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.footer-column h3 {
    font-size: 25px;
    margin-bottom: 40px;
    border-bottom: 1px solid orange;
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 40px;
}

.footer-column ul {
    list-style: none;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 14px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.logo-section {
    text-align: center;
}

.footer-logo {
    max-width: 240px;
    margin-bottom: 50px;
}

.social-icons {
    margin: 40px 0;
}

.social-icons a {
    margin: 0 5px;
  
}

.social-icons img {
    width: 45px;
    height: 45px;
  
}
.footer-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;

}
.footer-mail img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.email {
    font-size: 14px;
    color: #ccc;
}

.privacy-policy {
    font-size: 16px;
    color: #ccc;
    margin-left: 40px;
}

@media(max-widt:1000px ){
    .mainWrapper{
        display: none;
    }
}