input , label {
    display: block;
}
input [ type = "checkbox"]{
    display: inline;
}
.skillslist li:hover {
    font-size: 25px;
    color:aqua;
    transition: 1.5s;
    
}
.skillslist li:first-child {
    color:brown;
    cursor: pointer;
    font-size: 35px;
}

